# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc
*.log
.env
.venv/
venv/

# Build artifacts
build/
dist/
*.egg-info/
*.egg

# Test/coverage
.pytest_cache/
.pytest_cache
.tox/
.coverage
coverage.xml
htmlcov/
app/__pycache__
app/utils/__pycache__


# IDE
.idea/
.vscode/